<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:include="fragment.html :: head('Add Book Page')"></head>
<body>
<section th:include="fragment.html :: navbar"></section>


<section style="background-color: #eee;">
    <div class="container py-5">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="/books">Books</a></li>
                        <li class="breadcrumb-item active" aria-current="page"> Add </li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8">
                <div class="card mb-6 offset-3">
                    <div class="card-body">


                        <div class="row">
                            <div class="col-md-6 offset-3">
                                <form method="post">
                                    <div class="form-group">
                                        <label for="title">Book Title</label>
                                        <input type="text" class="form-control" id="title" name="title"
                                               placeholder="Kambagal Ota">

                                    </div>
                                    <div class="form-group">
                                        <label for="author">Book Author</label>
                                        <input type="text" class="form-control" id="author" name="author"
                                               placeholder="Men">
                                    </div>
                                    <div class="form-group">
                                        <label for="page">Book Page Count</label>
                                        <input type="text" class="form-control" id="page" name="page" placeholder="Men">
                                    </div>
                                    <button type="submit" class="btn btn-primary">Add</button>
                                </form>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section th:include="fragment.html :: js_resourses"></section>
</body>
</html>